body, html {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 50px 100px 6fr 1fr 100px;
    grid-template-columns: 25% 1fr 25%;
    grid-template-areas:
        "header header header"
        ". title ."
        ". board ."
        ". buttons ."
        "footer footer footer";
    height: 100%;
    row-gap: 10px;
}

.header {
    display: flex;
    grid-area: header;
    font-size: 2em;
    font-weight: 600;
    justify-content: space-between;
}

.header .player1, .header .player2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 5px;
}

.player1 .name {
    font-size: 1em;
}

.title {
    display: grid;
    grid-area: title;
    justify-items: center;
    align-items: center;
}

.title h4 {
    font-size: 30pt;
    font-weight: 800;
}

.board {
    display: grid;
    grid-area: board;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    border: 5px solid black;
    box-shadow: 11px 12px 15px 0px rgba(201,201,201,1);
}

.space {
    display: grid;
    font-size: 7em;
    font-weight: 600;
    align-items: center;
    cursor: default;
}

.space.left, .space.middle {
    border-right: 5px solid black;
}

.space.top, .space.center {
    border-bottom: 5px solid black;
}

.buttons {
    display: grid;
    grid-area: buttons;
    align-items: center;
    justify-items: center;
}

.button {
    display: grid;
    font-size: 2em;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    border: 5px solid black;
    box-shadow: 11px 12px 15px 0px rgba(201,201,201,1);
    cursor: default;
}

.button:hover {
    transform: scale(1.10);
}

.footer {
    grid-area: footer;
}